<!DOCTYPE html>
<html>

<head>
    <title>
        Author
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Author
    </h1>
    <ul>
        <li>
            <h3>Author Info</h3>
            <p>
                Shihao Wang: <a href="https://github.com/Yell0wF1sh">https://github.com/Yell0wF1sh</a>
            </p>
        </li>
    </ul>
</body>

</html>